/source/Gamer_Clock/Gamer_Clock.csproj.user
/source/Gamer_Clock/bin
/source/Gamer_Clock/obj
/source/Gamer_Clock/bld
/source/Gamer_Clock/bin
/source/packages
/source/**/*.suo
*.user
*.log
source/.vs/Gamer_Clock/*